:root {
  --main-color: #D69A83;
}

body {
  background-color: var(--main-color);
  color: #ffffff;
  font-family: "playpen-sans";
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: 100vh;
}

.parent-container {
  display: flex;
  align-items: center;
  position: relative;
}

.input-btn-container {
  border: 1px solid #ffffff;
  border-radius: 5px;
  overflow: hidden;
}

.setBtn {
  background-color: var(--main-color);
  border-color: #ffffff;
  border-style: solid;
  color: #ffffff;
  padding: 8px 20px;
  cursor: pointer;

  transition: transform 0.3s ease-in-out;
}

.setBtn:focus {
  outline: none;
  background-color: #E8B9A7;
}

.setBtn:hover {
  transform: scale(1.05)
}

.setBtn:active {
  background-color: #ffffff;
}

.setBtn:disabled {
  opacity: 0.3;
  cursor: not-allowed;
}

input {
  flex-grow: 1;
  border: none;
  padding: 10px;
  outline: none;
}

