body {
  background-color: #D69A83;
  color: #ffffff;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h2 {
  font-size: 10vw;
}

@keyframes shake {
  10%, 90%{
    transform: translate3d(-1px, 0, 0)
  }
  20%, 80%{
    transform: translate3d(2px, 0, 0)
  }
  30%, 50%, 70%{
    transform: translate3d(-4px, 0, 0)
  }
  40%, 60%{
    transform: translate3d(4px, 0, 0)
  }
}

.shake-animation {
  animation: shake 0.5s cubic-bezier(.36, .07, .19, .97) both;
}

.btn-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  /* align-items: center; */
}

.setBtn {
  background-color: #D69A83;
  border-color: #ffffff;
  border-style: solid;
  border-radius: 5px;
  color: #ffffff;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 20px;

  transition: transform 0.3s ease-in-out;
}

.setBtn:hover {
  transform: scale(1.05);
}

.setBtn:active {
  background-color: #ffffff;
}